body{
    background: rgb(255, 191, 252);
}
.heading{
    background: rgb(159, 7, 159);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
img{
    border-radius: 100%;
}
.a{
    margin: 0px 20px;
    color: rgb(15, 15, 178);
}
button{
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: none;
}
.topic{
    background: rgb(159, 7, 159);
    text-align: center;
    padding: 50px;
    color: white;
    box-shadow: 0px -3px 1px black;
    line-height: 10px;
}
.content{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.dev{
    background: rgb(238, 235, 235);
    box-shadow: 0px 0px 4px 1px black;
    margin: 0px 30px;
    border-radius: 10px;
    width: 500px;
    padding: 0px 10px;
    height: 120px;
}
.emp{
    background: rgb(255, 191, 252);
    box-shadow: 0px 0px 4px 1px black;
    margin: 0px 30px;
    border-radius: 10px;
    width: 500px;
    padding: 0px 10px;
    height: 120px;
}