body{
    background: rgb(213, 58, 58);
}
.text{
    animation-name: ani;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    color: rgb(0, 0, 0);
    width: fit-content;
    background-color: white;
    padding: 40px;
}
@keyframes ani {
    0%{
        margin: 0px 0px;
    }
    100%{
        margin: 0px 50px;
    }
}