p{
    letter-spacing: 5px;
    word-spacing: 15px;
    line-height: 25px;
    font-size: 19px;
    font-style: italic;
    font-weight: 700;
    text-align: justify;
    text-transform: capitalize;
    color: rgb(48, 120, 184);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: -5px 3px 7px black;
    text-indent: 10px;
}   
h4{
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 228, 196);
}
